/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Fira Sans", sans-serif;
  @apply bg-gray-200;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  border: 4px solid transparent;
  background-clip: content-box;
  @apply bg-gray-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
